/* Nav container */
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.navbar {
  width: 95vw;
  height: 70px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}


/* Logo */
.logo a {
  font-size: 24px;
  color: #0078ff;
  font-weight: bold;
  text-decoration: none;
}

/* Middle menu */
.nav-links {
  list-style: none;
  display: flex;
  gap: 28px;
}

.nav-links li a {
  text-decoration: none;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #0078ff;
}

/* Profile section */
.profile-section {
  position: relative;
  cursor: pointer;
}

.profile-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Dropdown menu */
.dropdown-menu {
  position: absolute;
  right: 0;
  top: 55px;
  width: 150px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.dropdown-menu a,
.dropdown-menu button {
  padding: 10px 15px;
  text-align: left;
  border: none;
  background: none;
  font-size: 15px;
  color: #333;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
}

.dropdown-menu a:hover,
.dropdown-menu button:hover {
  background: #f2f2f2;
}
